/* styles.css */
.pink-background {
    background-color: #FFE4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginPhoto {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.login-form {
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-control {
    border-radius: 0;
}

.login-form button {
    width: 100%;
}

